# raw dataset and any zip files
dataset/
*.zip
*.csv
*.txt

processed/

# extracted audio files
extracted_audio/

# spectrogram images
spectrograms/
dev/
test/
train/

# HuBERT features
*.npz

# wavlm files
wavlm/